body {
  background-color: black;
  
}
.App{
  color:white;
}
h1{
 color: red;
 text-align: center;
}
h2{
  color: yellow ;
}
.btn{
  background-color: yellow;
  border: none;
}
.btn ::placeholder{
  color:rgb(201, 25, 25);
}
.input{
  background-color: black;
  border: none;
}